body {
  background-color: #dddddd;
  margin: 50px;
}

.reflex-element {
  background-color: rgba(1, 210, 248, 0.06);
}

.reflex-element.resizing {
  background-color: rgba(255, 0, 0, 0.20);
}

.pane-content {
  text-align: center;
  position: relative;
  user-select: none;
  top: 30%;
}

.header {
  background-color: rgba(1, 210, 248, 0.30);
}

.footer {
  background-color: rgba(1, 210, 248, 0.30);
  text-align: center;
}


.left-pane {
  background-color: rgba(255, 0, 0, 0.20);
}

.middle-pane {
  background-color: rgba(255, 255, 255, 0.0);
}

.right-pane {
  background-color: rgba(1, 210, 248, 0.06);
}

#demo-basic {
  border: 1px solid #0c63ff;
  background-color: white;
  height: 300px;
}

#demo-basic-splitter {
  border: 1px solid #0c63ff;
  background-color: white;
  height: 300px;
}

#demo-splitter-propagation {
  border: 1px solid #0c63ff;
  background-color: white;
  height: 300px;
}

#demo-advanced {
  border: 1px solid #0c63ff;
  background-color: white;
  height: 600px;
}
